* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }

  header {
    max-width: 930px;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    
    width: 46px;
    height: 80px;
    left: 195px;
    top: 35px;
    cursor: pointer;
}

.engrenagem{
    width: 32.46px;
    height: 33.91px;
    top: 0.55px;
    left: 1.27px;
    cursor: pointer;
    
}
