@font-face {
    font-family: Ubuntu;
    src: url('./../assets/fonts/Ubuntu-Regular.ttf');
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 76px;
    

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    letter-spacing: -0.017em;
    
}

p{
    font-family: Ubuntu;
}